#about section {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 120px 20rem;
}

#about h3 {
  font-size: var(--font-size-heading);
  font-weight: var(--font-weight-bold);
}

.about-hero {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 800px;
}

.about-hero__projector {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%);
}

.about-hero__img-box {
  display: flex;
  justify-content: center;
  padding-left: 50px;
}

.trapezoid {
  width: 400px;
  height: 400px;
  background: linear-gradient(to bottom, var(--color-primary), #212121);
  opacity: 0.5;
  clip-path: polygon(40% 0, 60% 0, 100% 100%, 0% 100%);
  filter: blur(50px);
}

.about-hero__heading {
  font-size: var(--font-size-heading);
  font-weight: var(--font-weight-bold);
  text-align: center;
}

.about-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  img {
    width: 8rem;
  }
}

.about-logo__text {
  font-family: var(--font-family-logo);
  font-size: 7rem;
  font-weight: var(--font-weight-semibold);
}

.about-hero__subtext {
  padding-top: 100px;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  text-align: center;
}
/* hero end */

.about-intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-intro__img-box {
  img {
    width: 65%;
  }
}

.about-intro__text-content {
  display: flex;
  align-items: end;
  flex-direction: column;
  font-size: var(--font-size-heading);
  font-weight: var(--font-weight-bold);
  gap: 20px;
  span {
    padding: 0 50px;
  }
}
/* intro end */

.about-service__item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:not(:last-child) {
    padding-bottom: 24rem;
  }
}

.about-service__item:nth-child(even) {
  flex-direction: row-reverse;
}

.about-service__img-box {
  width: 50%;
  img {
    width: 100%;
  }
}

.about-service__item-desc {
  width: 40%;
}

.about-service__item-title {
  display: inline-block;
  position: relative;
  padding-bottom: 24px;
}

.about-service__item-title::after {
  display: block;
  position: absolute;
  top: -8px;
  right: -32px;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  background-color: var(--color-primary);
  content: '';
}

.about-service__item-body {
  font-size: var(--font-size-lg);
}
/* service end */

.about-review__title {
  padding-bottom: 4px;
  text-align: center;
}

.about-review__subtitle {
  padding-bottom: 40px;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
  text-align: center;
}

.about-review__tag-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  gap: 16px;

  .linear-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(33, 33, 33, 1) 100%);
  }
}

.about-review__tag {
  padding: 16px 44px;
  border: 1px solid var(--color-primary);
  border-radius: 50px;
  color: var(--color-primary);
}
/* review end */

#about .about-credit__title {
  margin-bottom: 24px;
  font-size: var(--font-size-lg);
  text-align: center;

  &.gray-borderline {
    padding-bottom: 16px;
    border-bottom: 1px solid var(--color-gray-300);
  }
}

.about-credit__list {
  padding-bottom: 80px;
}

.about-credit__item {
  display: flex;
  align-items: center;
  max-width: 450px;
  margin: 0 auto;
  gap: 32px;
}

.about-credit__role {
  width: 150px;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
  text-align: right;
}

.about-credit__names {
  font-size: var(--font-size-md);
  color: var(--color-gray-300);
  flex: 1;
}

.about-credit__message {
  font-size: var(--font-size-md);
  text-align: center;
  color: var(--color-gray-300);
}
