#about section {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 160px 180px;
}

#about h3 {
  font-size: var(--font-size-heading);
  font-weight: var(--font-weight-bold);
}

.about-hero {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 870px;
}

.about-hero__projector {
  position: absolute;
  top: 80px;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%);
}

.about-hero__img-box {
  display: flex;
  justify-content: center;
  padding-left: 58px;
}

.about-hero__heading {
  font-size: var(--font-size-heading);
  font-weight: var(--font-weight-bold);
  text-align: center;
}

.about-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  img {
    width: 8rem;
  }
}

.about-logo__text {
  font-family: var(--font-family-logo);
  font-size: 7rem;
  font-weight: var(--font-weight-semibold);
}

.about-hero__subtext {
  padding-top: 100px;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  text-align: center;
}

/* gsap 효과 */
.about-hero > *:not(:first-child) {
  transform: translateY(50px);
  opacity: 0;
}

.about-hero__projector-beam {
  opacity: 0;
}
/* hero end */

.about-intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-intro__img-box {
  img {
    width: 65%;
  }
}

.about-intro__text-content {
  display: flex;
  align-items: end;
  flex-direction: column;
  font-size: var(--font-size-heading);
  font-weight: var(--font-weight-bold);
  gap: 20px;
  span {
    padding: 0 50px;
  }
}

.about-intro__img-box img,
.about-intro__duration span {
  transform: translateY(0);
  opacity: 1;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* intro end */

.about-service__item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:not(:last-child) {
    padding-bottom: 24rem;
  }
}

.about-service__item:nth-child(even) {
  flex-direction: row-reverse;
}

.about-service__img-box {
  width: 50%;
  img {
    width: 100%;
  }
}

.about-service__item-desc {
  width: 40%;
}

.about-service__item-title {
  display: inline-block;
  position: relative;
  padding-bottom: 24px;
}

.about-service__item-title::after {
  display: block;
  position: absolute;
  top: -8px;
  right: -32px;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  background-color: var(--color-primary);
  content: '';
}

.about-service__item-body {
  font-size: var(--font-size-lg);
}
/* service end */

.about-review__title,
.about-timeline {
  position: relative;
  padding-bottom: 4px;
  text-align: center;
}

.about-review__title::before,
.about-timeline::before {
  display: block;
  position: absolute;
  top: -20px;
  left: 50%;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  background-color: var(--color-primary);
  transform: translateX(-50%);
  content: '';
}

.about-review__subtitle {
  padding-bottom: 40px;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
  text-align: center;
}

.about-review__tag-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  gap: 16px;

  .linear-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(33, 33, 33, 1) 100%);
  }
}

.about-review__tag {
  padding: 16px 44px;
  border: 1px solid var(--color-primary);
  border-radius: 50px;
  color: var(--color-primary);
}
/* review end */

#about-calendar {
  display: flex;
  padding: 40px 0;
  overflow-x: scroll;
  gap: 16px;
  /* background: linear-gradient(180deg, rgba(21, 21, 21, 0.1) 50%, rgba(0, 0, 0, 1) 100%); */
}

.day-cell {
  flex-shrink: 0;
  width: 150px;
  text-align: center;
}

.day-name {
  font-size: var(--font-size-lg);
  color: var(--color-gray-300);
}

.day-number {
  margin-top: 8px;
  padding-top: 10px;
  border-bottom: 2px solid var(--color-text);
  font-size: 5.6rem;
  font-weight: var(--font-weight-bold);
}

.tasks {
  margin-top: 20px;
  gap: 8px;
}

.task {
  padding: 8px 16px;
  border-radius: 4px;
  font-size: var(--font-size-md);
  color: var(--color-bg);
  background-color: var(--color-text);
}

#about-calendar::-webkit-scrollbar {
  height: 8px;
}

#about-calendar::-webkit-scrollbar-track {
  border-radius: 4px;
  background: var(--color-text);
  cursor: pointer;
}

#about-calendar::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--color-primary);
  cursor: pointer;
}

#about-calendar::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary);
}
/* timeline end */

#about .about-credit {
  padding-bottom: 120px;
}

#about .about-credit__title {
  margin-bottom: 24px;
  font-size: var(--font-size-lg);
  text-align: center;

  &.gray-borderline {
    padding-bottom: 16px;
    border-bottom: 1px solid var(--color-gray-300);
  }
}

.about-credit__list {
  padding-bottom: 80px;
}

.about-credit__item {
  display: flex;
  align-items: center;
  max-width: 450px;
  margin: 0 auto;
  gap: 32px;
}

.about-credit__role {
  width: 150px;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
  text-align: right;
}

.about-credit__names {
  font-size: var(--font-size-md);
  color: var(--color-gray-300);
  flex: 1;
}

.about-credit__message {
  font-size: var(--font-size-md);
  text-align: center;
  color: var(--color-gray-300);
}
/* credit end */
