#browse {
  margin-top: 120px;
}

#browse section {
  margin: 0 auto;
  max-width: 1600px;
  position: relative;
  padding: 0 120px 90px;
}
#browse h1 {
  font-size: 36px;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-base);
  padding: 0 160px;
  margin: 14rem 0 6rem;
  display: none;
}
#browse h2 {
  font-size: var(--font-size-heading);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-base);
  margin-bottom: 40px;
}
#browse .movie-slider {
  display: flex;
  align-items: center;
  position: relative;
}
#browse .movie-track {
  display: flex;
  gap: 1.6rem;
  position: relative;
  overflow-x: auto;
  scrollbar-width: none;
}
#browse .movie-card {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
#browse img {
  width: 21rem;
  aspect-ratio: 2 / 3;
  object-fit: cover;
}
#browse .rating {
  color: var(--color-gray-300);
  font-family: var(--font-family-base);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semibold);
  margin-top: 6px;
  display: flex;
  align-items: center;
}
#browse .rating span {
  color: var(--color-secondary);
}
#browse .rating .star {
  width: 16px;
  height: 16px;
  margin-right: 7px;
}
#browse .rating .stroke {
  width: 2px;
  height: 12px;
  margin: auto 20px;
}
#browse .title {
  font-family: var(--font-family-base);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
  margin-top: 2rem;
}
#browse .slide-btn.prev {
  background-color: var(--color-primary);
  border: none;
  color: white;
  width: 5rem;
  height: 5rem;
  padding: 1rem 2rem;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  position: absolute;
  top: 36%;
  left: -2.5rem;
}
#browse .slide-btn.next {
  background-color: var(--color-primary);
  border: none;
  color: white;
  width: 5rem;
  height: 5rem;
  padding: 1rem 2rem;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  position: absolute;
  top: 36%;
  right: -2.5rem;
}
#browse i {
  width: 100%;
  color: var(--color-bg);
}
#brows .prev {
  margin-right: 1rem;
}

#brows.next {
  margin-left: 1rem;
}
