#detail .s-title {
    font-size: 32px;
}

#detail .body {
    font-size: 20px;
}

.nav {
    height: 80px;
    background-color: #212121;
}










#detail .hero {
    width: 100%;
    height: 100vh;
    background:
        linear-gradient(to bottom, rgba(33, 33, 33, 0) 50%, rgba(33, 33, 33, 1) 100%),
        url("../asset/images/bg.jpg");
    background-repeat: no-repeat;
}

#detail .main-title {
    width: 636px;
    padding-top: 216px;
    padding-left: 183px;
}

#detail .second-title {
    display: flex;
    margin-top: 24px;
    gap: 8px;
}

#detail .hero .txt {
    margin-bottom: 24px;
}

#detail .hero .txt2 {
    margin-top: 24px;
    border-top: 1px solid white;
    font-size: 20px;

}

#detail .hero .txt2 .p1 {
    margin: 24px 0;
}

#detail .title .star {
    display: flex;
    gap: 8px;
}

#detail .title .platform {
    margin: 24px 0;
}

#detail .section1,
.section2,
.section3,
.section4,
.section5 {
    width: 1600px;
    margin: 0 auto;
}

#detail .section1 {
    margin-bottom: 123px;
}

#detail .section1 .border {
    border-top: 1px solid rgba(204, 204, 204, 50);
    margin: 0 auto;
    margin-top: 223px;
    margin-bottom: 63px;

}


#detail .section1 dl {
    display: flex;
    margin-top: 24px;
    margin-bottom: 40px;

}

#detail .section1 dl dt {
    font-size: 20px;
    font-weight: bold;
    margin-right: 36px;
}

#detail .section1 .p-box {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}

#detail .section2 .s-box {
    display: flex;
    flex-wrap: wrap;
}

#detail .section2 .s-img {
    display: flex;
}


#detail .section2 .s-img img {
    width: 80px;
    height: 80px;
}


#detail .section3 .coment-container {
    width: 401px;
    height: 215px;
    background-color: #404040;
    border-radius: 10px;
    padding-top: 30px;
    padding-left: 30px;
}

#detail .section3 .btn-b {
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 20px;
    font-style: bold;
}