.footer {
  padding: 24px 0;
  color: var(--color-gray-300);
}

.footer__nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 32px;
  gap: 96px;
}

.footer__info > * {
  padding-bottom: 24px;
  text-align: center;
}
