








#r-time .s-title {
  font-size: var(--font-size-heading);
  font-weight: var(--font-weight-bold);
  ;
}

.body {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
}









#r-time .hero,
#r-time .section1{
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 160px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#r-time .section2{
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 160px;
}





#r-time .section1 .box {
  margin-bottom: 50px;
}

#r-time .section1 .img-box .image {
  width: 220px;
}



#r-time .section1 .img-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

#r-time .section1 .img-txt p {
  text-align: center;
  margin-top: 20px;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
}


#r-time .section1 .img-txt .rating {
  color: var(--color-secondary);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  display: flex;
  align-items: center;
  gap: 4px;
}

#r-time .section1 .img-txt .sub-txt {
  display: flex;
  gap: 10px;
  margin-top: 5px;

  justify-content: center;
  align-items: center;
  /* 수직 중앙 정렬 */
}

#r-time .section1 .img-txt .sub-txt .span {
  display: flex;
  align-items: center;
  /* 모든 요소를 수직 중앙 정렬 */
  gap: 10px;
  height: 24px;
  /* 고정 높이로 baseline 통일 */
}

#r-time .section1 .img-txt .sub-txt .span span {
  display: flex;
  align-items: center;
  height: 100%;
  line-height: 1;
  /* 라인 높이 초기화 */
}

#r-time .section1 .img-txt .sub-txt .span span:first-child {
  color: var(--color-gray-300);
  font-weight: normal;
}

#r-time .section2 button {
  margin-top: 110px;
    width: 170px;
  height: 56px;
  background-color: var(--color-primary);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  border-radius: 50px;
  color: var(--color-bg);
  margin-bottom: 170px;
}

#r-time .section2{
  text-align: center;
}