@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

:root {
  /* 컬러 */
  --color-primary: #09d2d2;
  --color-secondary: #c3e248;
  --color-text: #ffffff;
  --color-bg: #212121;
  --color-gray-300: #bababa;
  --color-gray-100: #e3e3e3;
  --color-gray-line: #767676;

  /* 폰트 */
  --font-family-base: 'Pretendard', 'Noto Sans KR', sans-serif;
  --font-family-logo: 'Montserrat Alternates', sans-serif;

  /* 폰트 크기 */
  --font-size-heading: 3.2rem;
  --font-size-xl: 2.4rem;
  --font-size-lg: 2rem;
  --font-size-md: 1.8rem;
  --font-size-sm: 1.6rem;

  /* 폰트 굵기 */
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* 라인 높이 */
  --line-height-base: 1.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-base);
  padding-left: 160px;
  padding-right: 160px;
  line-height: var(--line-height-base);
  background-color: var(--color-bg);
  color: var(--color-text);
  max-width: 1920px;
  margin: 0 auto;
  overflow-x:auto;
}


/* 프로필 시작 */

.profile-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 60px 0;
}

.profile-left {
  display: flex;
  align-items: center;
  gap: 25px;
}

.profile-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.profile-name {
  font-size: 32px;
  font-weight: 700;
}

.profile-email {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-gray-300);
}

.profile-icons {
  display: flex;
  gap: 1rem;
  margin-top: 20px;
}

.profile-icons img {
  width: 30px;
  height: 30px;
}

.profile-actions {
  display: flex;
  gap: 20px;
  margin-top: 1px;
}

.action {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  color: #bcbcbc;
  font-size: 18px;
  font-weight: 400;
}

.action img {
  width: 26px;
  height: 26px;
}

/* 프로필 끝 */



/* 영화찜 시작 */
.watchlist-section {
  margin-top: 100px;
}

.watchlist-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.watchlist-title {
  font-size: 32px;
  font-weight: 700;
}

.watchlist-more {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
}

.arrow-icon {
  width: 8px;
  height: 16px;
}

/* 카드 전체 */
.watchlist-grid {
  display: flex;
  gap: 33px;
}

/* 영화 카드 */
.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-poster {
  width: 200px;
  height: 300px;
  margin-bottom: 20px;
}

.movie-title {
  font-size: 24px;
  font-weight: var(--font-weight-medium);
  margin-top: 20px;
  margin-bottom: 6px;
}

.movie-meta {
  align-items: center;
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  color: var(--color-gray-300);
}

.star-icon {
  width: 16px;
  height: 16px;
}

.rating-text {
  font-size: 20px;
  color: #C3E248;
  margin-left: 3px;
}

.separator-icon {
  width: 2px;
  height: 12px;
  margin: 0 20px;
}

.duration-text {
  font-size: 20px;
  color: var(--color-gray-300);
  font-weight: var(--font-weight-bold);
}

/* 영화찜 끝 */




/* 한줄평 시작 */

.review-section {
  margin-top: 180px;
  min-width: 1600px;
}

/* 상단 텍스트 */
.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.review-title {
  font-size: 32px;
  font-weight: var(--font-weight-bold);
}

.review-more {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
}


/* 카드 전체 목록 */
.review-list {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}

/* 리뷰 카드 */
.review-card {
  background-color: #404040;
  border-radius: 10px;
  padding: 30px;
  width: 354px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* 카드 상단 */
.card-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
}

/* 포스터 */
.review-poster {
  width: 50px;
  height: 75px;
}

/* 영화 제목 + 별점 */
.review-info {
  flex: 1;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.review-movie-title {
  font-size: 16px;
  font-weight: var(--font-weight-medium);
}

.review-rating {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.star2-icon {
  width: 14px;
  height: 14px;
}

.rating2-text {
  font-size: 14px;
  font-weight: var(--font-weight-medium);
  color: #d9d9d9;
}

/* 수정/삭제 아이콘 */
.review-actions {
  display: flex;
  gap: 10px;
}

.action-icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

/* 내용 */
.review-content {
  font-size: 18px;
  font-weight: var(--font-weight-medium);
  color: #ffffff;
  margin-bottom: 16px;
  line-height: 150%;
}

/* 날짜 */
.review-date {
  font-size: 14px;
  font-weight: var(--font-weight-medium);
  text-align: right;
  color: #d9d9d9;
}


/* 한줄평 끝 */




.preference-section {
  width: 100%;
  min-width: 1600px;
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  gap: 90px;
}

/* 제목 줄 */
.preference-header {
  display: flex;
  align-items: center;
  gap: 5px;
}

.preference-title {
  font-size: 32px;
  font-weight: var(--font-weight-bold);
}

.preference-subtag {
  font-size: 16px;
  font-weight: var(--font-weight-semibold);
  border: 1px solid var(--color-gray-300);
  padding: 0.3rem 0.8rem;
  border-radius: 40px;
  color: var(--color-gray-300);
}

/* 그래프 */
.preference-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 125px;
}

.preference-graph .graph-img {
  width: 500px;
}

/* 결과  */
.preference-result {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  text-align: center;
}

.result-text {
  font-size: 24px;
  font-weight: var(--font-weight-semibold);
}

.result-text .highlight {
  color: var(--color-primary);
}

/* 세부박스 */
.result-boxes {
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.result-label {
  font-size: 20px;
  font-weight: var(--font-weight-semibold);
  color: var(--color-gray-100);
  margin-bottom: 0.6rem;
}

.result-content-box {
  border: 1px solid var(--color-gray-line);
  padding: 24px 54px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.main-text {
  font-size: 24px;
  font-weight: var(--font-weight-medium);
  color: var(--color-primary);
}

.sub-text {
  font-size: 18px;
  font-weight: var(--font-weight-medium);
  color: var(--color-gray-300);
}

/* 하단  */
.service-links {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--color-gray-line);
}

.service-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-gray-line);
  padding: 40px 0;
  cursor: pointer;
}

.service-title {
  font-size: 32px;
  font-weight: var(--font-weight-bold);
}

.arrow-iconn {
  width: 12px;
  height: 24px;
}
